<p>success getting access_token.</p>

<p>your access token is below.</p>

<dl>
    <dt>access_token</dt>
    <dd><%= access_token.params[:oauth_token] %></dd>
    <dt>access_token_secret</dt>
    <dd><%= access_token.params[:oauth_token_secret] %></dd>
</dl>

<a href="/">back to top</a>
